//————————————————————————————————————————————>> Sass mixins and variables
$mainColor: lightgoldenrodyellow;

@mixin flexBox($direction:row, $justify:center, $align:center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin size($w:100%, $h:100%) {
  width: $w;
  height: $h;
}


//————————————————————————————————————————————>> component styles
.App {
  @include size(100vw, 100vh);
  background-color: $mainColor;
}

.header {
  background-color: #222;
  height: 70px;
  color: $mainColor;
  @include flexBox;
  h2 { 
    color: $mainColor;
    font-size: 1.7rem; 
  }
}



